.app {
  padding: 50px 150px;
  font-size: 1.5rem;
  text-align: justify;
}

h1 {
  text-align: center;
  margin: 0;
  font-size: 3rem;
}

.capture {
  text-align: center;
  padding: 14px;
  font-style: italic;
}

.main_picture {
  background-image: url("./images//title.png");
  width: 1200px;
  height: 797px;
  background-size: 100% 100%;
  margin: 0 auto;
}

.history_picture-construction {
  background-image: url("./images/konstrukciya-glock-17.jpg");
  width: 1500px;
  height: 1000px;
  background-size: 100% 100%;
  margin: 0 auto;
}

.history_orange-glock {
  background-image: url("./images/glock-orange.png");
  width: 1000px;
  height: 700px;
  background-size: 100% 100%;
  margin: 0 auto;
}

.history_tactical-pic {
  background-image: url("./images/counter.jpg");
  width: 600px;
  height: 400px;
  background-size: 100% 100%;
  margin: 0 auto;
}

.history_blue-glock {
  background-image: url("./images/glock-blue.png");
  width: 1000px;
  height: 700px;
  background-size: 100% 100%;
  margin: 0 auto;
}

.construction_picture-modified {
  background-image: url("./images/with-glock.jpg");
  width: 600px;
  height: 500px;
  background-size: 100% 100%;
  margin: 0 auto;
}

.construction_picture-laser {
  background-image: url("./images/terrorists.jpg");
  width: 1100px;
  height: 700px;
  background-size: 100% 100%;
  margin: 0 auto;
}

.characteristics_bullet-picture {
  background-image: url("./images/Bullet.png");
  height: 400px;
  width: 300px;
  background-size: 100% 100%;
  margin: 0 auto;
}

.characteristics_with-weapon {
  background-image: url("./images/terror2.jpg");
  height: 400px;
  width: 300px;
  background-size: 100% 100%;
  margin: 0 auto;
}

.models_fron-pic {
  background-image: url("./images/front-glock.jpg");
  height: 400px;
  width: 300px;
  background-size: 100% 100%;
  margin: 0 auto;
}
